<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Nexus" value="https://akssvc-horizon-purchase.ssl.imc-companies.com/nexus/repository/horizon.backend.nuget/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<Nexus>
			<add key="Username" value="admin" />
			<add key="ClearTextPassword" value="nexus" />
		</Nexus>
	</packageSourceCredentials>
</configuration>